---
import { 
  Rss,
  FileText
} from 'lucide-astro';
import { SITE_TITLE } from '../consts';

const today = new Date();
---

© {today.getFullYear()} {SITE_TITLE} • 
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a> • 
<a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">MIT</a>

<a href="/sitemap-index.xml">Sitemap</a>
<a href="/rss.xml"><Rss />RSS</a>
<a href="/privacy"><FileText />Privacy</a>
v0.0.1
